.flex{
    display:flex;    
}
hr{
    border: none;
    height: 1px;
    background: rgb(177, 175, 175);
    margin-bottom: 2%;
    margin-top: 0px;
    
}
.align-items{
    align-items: center;
}
.justify-content{
    justify-content: center;
}
.round-corner{
    border-radius: 3%;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
}
.center-img{
    width: 32vw;
    margin-bottom: 3vh;
    display:none;
}
.bottom-img{
    width: 6vw;
    margin:0 1vw;    
}
.border{
    border-width: 2px;
    border-style:solid;
    border-color:orange;
}
.orange{
    color:hsl(26, 100%, 55%);
}
.grey{
    color:hsl(0, 0%, 51%);
}
.big{
    font-size: 3rem;
}
.none{
    display: none;
}
.weight-800{
    font-weight: 800;
}
.item-img{
    width: 4vw;
}
.display{
    display: block;
}
.blur{
    opacity: 60%;
}
